{% extends "base.html.twig" %}


{% block stylesheets %}
<link href="{{ asset('css/index.css') }}" type="text/css" rel="stylesheet" /> 
{% endblock %}
{% block body %}
	<section class="vh-100" style="background-color: #2779e2;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
						<div class="card-body py-4 px-4 px-md-5">

							<p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
								<i class="fas fa-check-square me-1"></i>
								<u>My Todo-s</u>
							</p>

							<div class="pb-2">
								<div class="card">
									<div class="card-body">
										<div class="d-flex flex-row align-items-center">
											<input type="text" class="form-control form-control-lg" id="titulo" placeholder="Add new...">
											{# <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i #}
											{# class="fas fa-calendar-alt fa-lg me-3"></i></a> #}
												<div>
													<button type="button" class="btn btn-primary" id="crearButton"> Add</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<hr class="my-4">

							<form id="formFiltro" method="POST" action="{{path('app_tareas_start')}}">
								<div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
									<p class="small mb-0 me-2 text-muted">Filter</p>
									<select class="select" name="filtro">
										<option value="1">Todos</option>
										<option value="2">Completado</option>
										<option value="3">Alta</option>
										<option value="4">Media</option>
										<option value="5">Baja</option>
									</select>
									<p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
									<select class="select" name="orden">
										<option value="1">Fecha creación</option>
										<option value="2">Fecha recordatorio</option>
										<option value="3">Titulo</option>
									</select>
									<a id="filtroButton" class="cursor-pointer" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending">
										<i class="fas fa-sort-amount-down-alt ms-2"></i>
									</a>
								</div>
							</form>
							{% for tarea in tareas %}
								<ul
									class="list-group list-group-horizontal rounded-0">
									{# <li
																											                class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
																											                <div class="form-check">
																											                  <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2"
																											                    aria-label="..." />
																											                </div>
																											              </li> #}
									<li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
										<p class="lead fw-normal mb-0">{{tarea.titulo}}</p>
									</li>
									{% if tarea.recordatorio %}
										<li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
											<div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
												<p class="small mb-0">
													<i class="fas fa-hourglass-half me-2 text-warning"></i>
													{{tarea.recordatorio | date("d-m-Y H:i:s")}}
												</p>
											</div>
										</li>
									{% endif %}
									<li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
										<div class="d-flex flex-row justify-content-end mb-1">
											<a href="tarea/{{tarea.id}}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo">
												<i class="fas fa-pencil-alt me-3"></i>
											</a>
											<a href="tareas/eliminar/{{tarea.id}}" class="text-danger" data-mdb-toggle="tooltip" title="Borrar tarea">
												<i class="fas fa-trash-alt"></i>
											</a>
										</div>
										<div class="text-end text-muted">
											<a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Created date">
												<p class="small mb-0">
													<i class="fas fa-info-circle me-2"></i>
													{{tarea.fechaCreacion | date("d-m-Y H:i:s")}}</p>
											</a>
										</div>
									</li>
								</ul>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/tareas.js"></script>
{% endblock %}
